* {
  font-family: "Quicksand", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background: whitesmoke;
}

body.home {
  padding: 0;
}

main {
  opacity: 0;
  -webkit-animation: pageTransition 0.5s ease-out forwards;
          animation: pageTransition 0.5s ease-out forwards;
}

a {
  color: #363636;
}

.notification {
  height: 6rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(54, 54, 54, 0.4);
  border-radius: 0;
  font-size: 0.8rem;
  background: transparent;
}

.notification.no-border {
  border: 0;
}

.title {
  font-family: "Sofia", cursive;
  color: #363636;
}

p {
  margin-bottom: 1rem;
  text-align: justify;
}

p:nth-last-child(1) {
  margin-bottom: 0;
}

.title-line {
  width: 40vw;
  height: 3px;
  background: rgba(54, 54, 54, 0.4);
  margin-bottom: 1rem;
}

.title-line:nth-last-child(1) {
  margin-bottom: none;
}

.title-line.bigger {
  width: 60vw;
  background: rgba(54, 54, 54, 0.6);
}

@-webkit-keyframes pageTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pageTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .page-stripe {
    width: 15vw;
  }
}

body {
  overflow: hidden;
}

.home-section {
  background: #363636 url(../../images/home/bg-home-sm.jpg) no-repeat right/cover;
  color: whitesmoke;
}

.home-title {
  margin-top: 150px;
  width: 15rem;
}

.separator {
  width: 11rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.home-text {
  max-width: 25rem;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 768px) {
  .home-section {
    background: #363636 url(../../images/home/bg-home-md.jpg) right/cover;
  }
  .home-title {
    width: 20rem;
  }
  .separator {
    width: 13rem;
  }
}

@media only screen and (min-width: 1024px) {
  .home-section {
    background: #363636 url(../../images/home/bg-home-lg.jpg) right/cover;
  }
  .home-text {
    max-width: 40rem;
  }
}

.servicos-section {
  margin-top: 5rem;
}

.servicos-section .media {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicos-icon {
  font-size: 2rem;
}

.pricing-table {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-plan {
  -webkit-box-shadow: 0 1px 3px rgba(54, 54, 54, 0.4);
          box-shadow: 0 1px 3px rgba(54, 54, 54, 0.4);
  width: 100%;
}

.plan-footer button {
  font-weight: bold;
}

.plan-item {
  background: transparent !important;
  border-bottom: 1px solid rgba(54, 54, 54, 0.1) !important;
}

.plan-item:nth-last-child(1) {
  border-bottom: none !important;
}

@media only screen and (min-width: 600px) {
  .pricing-plan {
    max-width: 15rem;
  }
}

@media only screen and (min-width: 750px) {
  .pricing-table {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1000px) {
  .sobre-section .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sobre-section .content .text {
    max-width: 50%;
  }
  .sobre-section .content img {
    border-radius: 0.2rem;
    border-bottom-right-radius: 5rem;
  }
}

.form {
  width: 100%;
}

.field {
  margin-bottom: 1rem !important;
}

.label {
  font-size: 0.8rem;
}

.input,
.textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #363636;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

.input:focus,
.textarea:focus {
  border-color: #363636;
}

.input:hover,
.textarea:hover {
  border-color: #363636;
}

.textarea {
  resize: none;
}

.control.has-icons-left .textarea {
  padding-left: 2.5em;
}

.icon.mensagem {
  padding-top: 0.5rem;
}

.buttons {
  float: right;
}

.button.enviar {
  border-radius: 10rem;
  width: 8rem;
  font-weight: bold;
}

.msg-erro {
  display: none;
}

.social-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.social-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
}

.social-info p.margin-right {
  margin-right: 3rem;
}

.social-icons {
  font-size: 2rem;
}

@media only screen and (min-width: 768px) {
  .form {
    width: 70%;
    margin: auto;
  }
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 10px 10px 0 10px;
}

.navbar {
  background: white;
  padding: 0 1rem 0 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 1px 3px rgba(54, 54, 54, 0.3);
          box-shadow: 0 1px 3px rgba(54, 54, 54, 0.3);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.navbar-dropdown {
  border-color: rgba(54, 54, 54, 0.1);
  border-top-right-radius: 6px;
}

.navbar-divider {
  background: rgba(54, 54, 54, 0.1);
}

.navbar-menu {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a.navbar-item {
  text-align: center;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: rgba(54, 54, 54, 0.6);
}

a.navbar-item:hover,
.navbar-link:hover {
  color: black;
}

.navbar-item img {
  max-height: 2rem;
}

.link-divider {
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(54, 54, 54, 0.2)), to(transparent));
  background: linear-gradient(to right, transparent, rgba(54, 54, 54, 0.2), transparent);
  width: 100%;
  height: 1px;
}

.hidden-link {
  display: none;
}

.navbar-home {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-home .navbar-brand {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.navbar-home a.navbar-item,
.navbar-home .navbar-link {
  color: whitesmoke;
}

.navbar-home .navbar-link:not(.is-arrowless)::after {
  border-color: rgba(245, 245, 245, 0.4);
}

.navbar-home a.navbar-item:hover,
.navbar-home .navbar-link:hover {
  color: white;
}

.navbar-home a.navbar-item:hover {
  background: rgba(245, 245, 245, 0.2);
}

.navbar-home .navbar-link:hover,
.navbar-home a.navbar-link {
  background-color: transparent !important;
}

.navbar-home .navbar-dropdown {
  background-color: rgba(245, 245, 245, 0.1);
}

.navbar-home .navbar-dropdown {
  border-color: rgba(245, 245, 245, 0.2);
}

.navbar-home .navbar-divider {
  background: rgba(245, 245, 245, 0.2);
}

#footer {
  margin-top: 5rem;
  position: relative;
  z-index: 10;
}

#footer .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

#footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #363636;
  padding: 2rem 5vw;
}

#footer a {
  color: #363636;
}

#footer a:hover {
  background: transparent;
  color: black;
}

#footer p,
#footer p a {
  color: whitesmoke;
  font-size: 0.8rem;
}

#footer p {
  margin: 0;
}

#footer img {
  width: 1rem;
  -webkit-filter: invert(1);
          filter: invert(1);
}
/*# sourceMappingURL=styles.css.map */